@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin alignLeft($top, $left) {
  top: $top;
  left: $left;
}
@mixin alignRight($top, $right) {
  top: $top;
  right: $right;
}
@mixin font($fontSize, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
}
@mixin displayFlex($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
