@import "style-content";
// style primary
.content__nomi .primary {
  height: 23.8rem;
  @include primary-style();
}
//style dash
.content__nomi .primary::before {
  @include style-dash();
}
//style title
.content__nomi .primary__title {
  width: 48.2rem;
  height: 3.2rem;
  margin-top: 6rem;
  @include title-style();
}
// style description
.content__nomi .primary__desc {
  @include desc-style();
}
// style grid secondary
.secondary {
  display: grid;
  grid-template-columns: 66.7rem 46.9rem;
  grid-auto-rows: 30.4rem 27.5rem;
  column-gap: 3.4rem;
  grid-template-areas:
    "it1 it3"
    "it2 it3";
}
.secondary__It1 {
  grid-area: it1;
  padding: 2.9rem 0;
  position: relative;
}
.secondary__It2 {
  grid-area: it2;
  position: relative;
  padding-top: 2.9rem;
}
.secondary__It3 {
  grid-area: it3;
}
.secondary__it-img {
  width: 27rem;
  height: 24.6rem;
  float: left;
  border: 1px solid black;
}
.secondary__it-name,
.secondary__it-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 30rem;
}
.secondary__it-name {
  width: 10.9rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  top: 6.9rem;
}
.secondary__it-desc {
  width: 36.7rem;
  height: 9.9rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  top: 13.6rem;
}
// style secondary item 3
.secondary__It3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.secondary__it3-title {
  width: 22.4rem;
  height: 3.2rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary__it3-icon {
  width: 1.8rem;
  height: 1.8rem;
}
.secondary__it3-img {
  width: 46.9rem;
  height: 43.3rem;
  margin-top: 2.7rem;
  border: 1px solid black;
}
