// import mixin style size and position
@import "mixin-size-pos";
// style Slide show
.img__Slide {
  @include size(100%, 80.8rem);
  position: relative;
}
.img__slide {
  position: relative;
  @include alignLeft(0, 0);
  @include size(100%, 100%);
}
.img__slide--style {
  @include size(100%, 100%);
  position: absolute;
  background-size: cover;
}
.img__slide-first {
  background-image: url("/img/img.jpg");
}
.img__slide-second {
  background-image: url("/img/img1.jpg");
}
.img__slide-third {
  background-image: url("/img/img2.jpg");
}
.btn {
  position: absolute;
  @include size(1.8rem, 6.6rem);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include alignLeft(50%, 128rem);
  transform: translateY(-50%);
}

.btn__it1,
.btn__it2,
.btn__it3 {
  @include size(1.8rem, 1.8rem);
  background-color: black;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}
.btn--hover:hover,
.choice {
  opacity: 1;
}
// button get start
.get-start {
  position: absolute;
  @include size(16.4rem, 5.4rem);
  @include alignLeft(60.1rem, 50%);
  transform: translateX(-50%);
  background-color: $golden;
  border-radius: 1rem;
  @include displayFlex(center, center);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.get-start a {
  text-decoration: none;
  color: black;
  @include size(10.9rem, 3.2rem);
  @include displayFlex(center, center);
  text-transform: capitalize;
  font-size: 1.8rem;
}
