// style dash
@mixin style-dash() {
  content: "";
  position: absolute;
  width: 14.4rem;
  height: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  top: 11.5rem;
  background-color: $golden;
}
// style title
@mixin primary-style() {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@mixin title-style() {
  color: $golden;
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin desc-style() {
  bottom: 0;
  width: 100%;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 2.2rem;
  position: absolute;
}
