html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  max-width: 144rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// style content
.content {
  width: 100%;
  padding: 0 13.4rem 0 13.6rem;
}

$espresso: #4d2924;
$golden: #fdc300;
$nobel: #969696;
$blue: #228be6;
$fruit: #40c057;
$secondary-color: #ffffff;

@import "header";
@import "navigation";
@import "Slideshow";
@import "nominees";
@import "Courses";

//import style of title and description
@import "styleTitle";
// import mixin style size and position and display flex
@import "mixin-size-pos";
.content__aboutUs .primary {
  height: 21.4rem;
  @include primary-style();
}
//style dash
.content__aboutUs .primary::before {
  @include style-dash();
  top: 9.5rem;
}
//style title
.content__aboutUs .primary__title {
  @include size(23.9rem, 3.2rem);
  @include title-style();
  margin-top: 4rem;
}
// style description
.content__aboutUs .primary__desc {
  @include desc-style();
}
// style image slide
.images__slide {
  @include size(100%, 49.8rem);
  position: relative;
}
.images__slide figure {
  @include size(100%, 47.7rem);
  position: absolute;
  bottom: 0;
  background-size: cover;
}
.images__slide-it1 {
  background-image: url("/img/about1.jpg");
}
.images__slide-it2 {
  background-image: url("/img/about2.jpg");
}
.images__slide-it3 {
  background-image: url("/img/about3.jpg");
}
// style slide show
.btn__slide {
  @include size(100%, 5.8rem);
  padding-top: 4rem;
}
.btn__slide span {
  display: inline-block;
  @include size(1.8rem, 1.8rem);
  background: black;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  cursor: pointer;
}
.btn__slide span:nth-of-type(2) {
  margin: 0 0.6rem;
}
