<<<<<<< HEAD
html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  max-width: 144rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$espresso: #4d2924;
$golden: #fdc300;
$nobel: #969696;
$blue: #228be6;
$fruit: #40c057;
$secondary-color: #ffffff;

@import "header";
@import "navigation";
@import "Slideshow";
@import "nominees";

// style content
.content {
  width: 100%;
  padding: 0 13.4rem 0 13.6rem;
}
//import style of title and description
@import "styleTitle";
// import mixin style size and position and display flex
@import "mixin-size-pos";
// style courses
.content__courses .primary {
  height: 23.9rem;
  @include primary-style();
}
//style dash
.content__courses .primary::before {
  @include style-dash();
  top: 11.6rem;
}
//style title
.content__courses .primary__title {
  @include size(22.1rem, 3.2rem);
  @include title-style();
  margin-top: 5.7rem;
}
// style description
.content__courses .primary__desc {
  @include desc-style();
}
// make style tabs
.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0 15px;
  padding: 3.5rem 0 4.6rem;
  cursor: pointer;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.tabs span:not(:first-of-type) {
  @include size(8.4rem, 3.2rem);
}
.tabs span {
  @include displayFlex(center, center);
}
.tabs__all {
  @include size(5.4rem, 3.2rem);
  color: $nobel;
  font-weight: 300;
}
.tabs__course1,
.tabs__course2,
.tabs__course3,
.tabs__course4 {
  font-weight: 300;
  color: $nobel;
}
.style_underline {
  font-weight: 700;
  border-bottom: 0.3rem solid $golden;
  color: black;
}
// style price information
.price {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 422px;
  column-gap: 9.5rem;
  row-gap: 2.5rem;
  padding: 0 8.5rem;
  font-size: 1.8rem;
}
// style price item1
.price__it {
  @include size(27rem, 42.2rem);
  border: 0.6rem solid $golden;
  padding: 2rem 2.3rem 0.7rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.price__it-img {
  @include size(100%, 19.4rem);
}
.Name__course {
  @include size(100%, 9.2rem);
  text-transform: capitalize;
  @include displayFlex(space-between, center);
}
.Name__course-name,
.price-detail__it1,
.price-detail__it2 {
  @include size(10.5rem, 3.2rem);
  font-weight: 700;
}
.Name__course-duration,
.price-detail__it3,
.price-detail__it4 {
  font-weight: 300;
  @include size(9.8rem, 3.7rem);
}
.price-detail {
  @include size(100%, 9.7rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
}
.Name__course-duration,
.price-detail__it2,
.price-detail__it4 {
  @include displayFlex(flex-end, center);
}
.Name__course-name,
.price-detail__it1,
.price-detail__it3 {
  @include displayFlex(flex-start, center);
}
=======
html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  max-width: 144rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$espresso: #4d2924;
$golden: #fdc300;
$nobel: #969696;
$blue: #228be6;
$fruit: #40c057;
$secondary-color: #ffffff;

@import "header";
@import "navigation";
@import "Slideshow";
@import "nominees";

// style content
.content {
  width: 100%;
  padding: 0 13.4rem 0 13.6rem;
}
//import style of title and description
@import "styleTitle";
// import mixin style size and position and display flex
@import "mixin-size-pos";
// style courses
.content__courses .primary {
  height: 23.9rem;
  @include primary-style();
}
//style dash
.content__courses .primary::before {
  @include style-dash();
  top: 11.6rem;
}
//style title
.content__courses .primary__title {
  @include size(22.1rem, 3.2rem);
  @include title-style();
  margin-top: 5.7rem;
}
// style description
.content__courses .primary__desc {
  @include desc-style();
}
// make style tabs
.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0 15px;
  padding: 3.5rem 0 4.6rem;
  cursor: pointer;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.tabs span:not(:first-of-type) {
  @include size(8.4rem, 3.2rem);
}
.tabs span {
  @include displayFlex(center, center);
}
.tabs__all {
  @include size(5.4rem, 3.2rem);
  color: $nobel;
  font-weight: 300;
}
.tabs__course1,
.tabs__course2,
.tabs__course3,
.tabs__course4 {
  font-weight: 300;
  color: $nobel;
}
.style_underline {
  font-weight: 700;
  border-bottom: 0.3rem solid $golden;
  color: black;
}
// style price information
.price {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 422px;
  column-gap: 9.5rem;
  row-gap: 2.5rem;
  padding: 0 8.5rem;
  font-size: 1.8rem;
}
// style price item1
.price__it {
  @include size(27rem, 42.2rem);
  border: 0.6rem solid $golden;
  padding: 2rem 2.3rem 0.7rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.price__it-img {
  @include size(100%, 19.4rem);
}
.Name__course {
  @include size(100%, 9.2rem);
  text-transform: capitalize;
  @include displayFlex(space-between, center);
}
.Name__course-name,
.price-detail__it1,
.price-detail__it2 {
  @include size(10.5rem, 3.2rem);
  font-weight: 700;
}
.Name__course-duration,
.price-detail__it3,
.price-detail__it4 {
  font-weight: 300;
  @include size(9.8rem, 3.7rem);
}
.price-detail {
  @include size(100%, 9.7rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
}
.Name__course-duration,
.price-detail__it2,
.price-detail__it4 {
  @include displayFlex(flex-end, center);
}
.Name__course-name,
.price-detail__it1,
.price-detail__it3 {
  @include displayFlex(flex-start, center);
}
>>>>>>> 921429263ce833c2ae00f2e05eb3e7eae6bbd986
